*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General Styles */
body, h1, h2, h3, h4, h5, h6{
    font-family: 'Battambang', Arial, sans-serif !important;
    background-color: #f5f5f5;
    margin: 0;
    
    
  }
  
  .main {
    padding: 2rem 0;
  }

  
  /* Paragraph Styling */
  p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
  }
  .Wing-color{
    color: #73e112;
    display: flex;
    font-weight: 700;
    font-size: 2.8rem;
    background-color: rgba(128, 128, 128, 0);
  }
  
  /* Ordered List */
  .list-group-item {
    font-size: 1.1rem;
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-left: 4px solid #41bf0f; /* Highlight items */
    transition: background-color 0.3s ease;
  }
  
  .list-group-item:hover {
    background-color: #f0f0f0;
  }
  