*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.download{
    width:100px;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
}
.dl-img{
    width: 290px;;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
}
