*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body, h1, h2, h3, h4, h5, h6{
      font-family: 'Battambang', Arial, sans-serif !important;
      background-color: #f5f5f5;
      margin: 0;
    }
/* Styling for the card */
.card {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Hidden button */
  .card-hover-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5cbc0d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .card:hover .card-hover-btn {
    opacity: 1;
    visibility: visible;
  }
  
  #khqr{
    width: 300px;
    object-fit: cover;
  }
  .welcome{
        color: #5cbc0d;
        font-size:3rem;
        font-weight: 700;
        padding-bottom: 3rem;
  }

  .hidden-text {
    display: none; /* Initially hide the extra text */
  }
  .see-more {
    color: blue;
    cursor: pointer;
  }
  .speacial-text {
    color: blue;
    font-weight:bold;
  }
