*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body, h1, h2, h3, h4, h5, h6{
      font-family: 'Battambang', Arial, sans-serif !important;
      background-color: #f5f5f5;
      margin: 0;
    }
    .welcome{
        color: #5cbc0d;
        font-weight: 700;
        padding-bottom: .5rem;
  }
  #Acc{
    width: 300px;
    object-fit: cover;
    
  }